<div class =  "main">
<h1 mat-dialog-title>Select filter</h1>
<div mat-dialog-content>
  <p>Filter by category:</p>
  <p>
    <mat-radio-group class = "radio" aria-label="Select an option" name="category" *ngFor="let currentStatus of propertyStatuses">
      <mat-radio-button (change)="onCategoryChange($event)" value="{{propertyStatuses.indexOf(currentStatus)}}">{{currentStatus}}&nbsp;&nbsp;</mat-radio-button>
    </mat-radio-group>
  </p>
  <p>Filter by status:</p>
  <p>
    <mat-radio-group class = "radio" aria-label="Select an option" name="status" *ngFor="let currentCategory of propertyCategories">
      <mat-radio-button (change)="onStatusChange($event)" value="{{propertyCategories.indexOf(currentCategory)}}">{{currentCategory}}&nbsp;&nbsp;</mat-radio-button>
    </mat-radio-group>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No filter</button>
  <button mat-button [mat-dialog-close]="data"  cdkFocusInitial>Ok</button>
</div>
</div>
