@import "../../../../app.component";
.main{
  height: 100%;
  @extend %flexAlights;
  background:url("/assets/img/pageNotFound.png") $primary-color-background-dark;
  background-position:center;
  background-repeat:no-repeat;
}
.title{
  padding-top: 750px;
 @extend %flexAlights;
  font-family: $font-stack;
  font-size: 60px;
  color: white;
}
a{
  padding-top: 20px;
  color: $primary-color-aqua;
  @extend %flexAlights;
  font-family: $font-stack;
  font-size: 25px;
  cursor: pointer;
}

@media screen and (max-width: 850px){
  .main{
    background: $primary-color-background-dark;
  }
  .title{
    padding-top: 350px;
    font-size: 30px;
  }

}
