@import "../../../app.component";
.main{
  background: $primary-color-background-dark;
  @extend %flexAlights;
}
app-propert-card{
  @extend %flexAlights;
}
:host ::ng-deep.mat-paginator .mat-paginator-container{
  background:linear-gradient(45deg,$primary-color-blue-purple , $primary-color-purple);
  color: white;
  font-family: $font-stack;
}

