<footer class="color-background" fxLayout="column">
  <div class="default-side-margin main-block" fxLayout="row" fxLayoutAlign="space-between stretch">
    <span class="info"><span class="material-icons real-estate" >home_work</span>Real estate</span>
    <div class="nav-block block" fxLayout="column" fxLayoutAlign="space-between stretch">
      <a class="color-black" routerLink="/properties">Properties</a>
      <a class="color-black" routerLink="/home">Requests</a>
      <a class="color-black" routerLink="/profile">Account</a>
    </div>
    <div class="contacts-block block contacts" div fxLayout="column" fxLayoutAlign="space-between stretch">
      <span class = "contacts" class="color-black">Contact us!</span>
      <span  class = "contacts"  fxLayout="row" class="color-primary">
<mat-icon class="phone-icon">phone</mat-icon>
                                    +38 (093) 75 290 40
</span>
      <span class = "contacts"  fxLayout="row" class="color-primary">
<mat-icon class="phone-icon">phone</mat-icon>
                                    +38 (093) 00 000 00
      </span>
    </div>
  </div>
  <div class="bottom-line" fxLayout="row" fxLayoutAlign="center center">
    <span>Copyright © 2020 Real estate. All rights reserved.</span>
  </div>
</footer>
