@import "src/app/app.component.scss";
footer{
  width: 100%;
  background: $primary-color-background;
;
}

.main-block {
  height: 150px;
  padding-top: 25px;
}

.color-black {
  font-family: Montserrat;
  color: white;
}

.logo {
  height: 95px;
  border: 1px solid white;
}
.info {
  font-family: Montserrat;
  font-size: 45px;
  padding-left: 45px;
;
  color: $primary-color-aqua;
}

.real-estate {
  font-size: 35px;
}
.bottom-line {
  height: 40px;
  font-size: 13px;
  color: white;
  background-color: $primary-color-background-dark;
}

.phone-icon {
  margin-right: 5px;
}

.block {
  height: 95px;
}

.contacts {
  font-family: Montserrat;
  padding-right: 60px;
  color: white;
}

  @media screen and (max-width: 750px)
{
  .info{
    display: none;
  }
    span{
      padding-right: 23px;
    }
    a{
      padding-left: 23px;
    }

}
.bottom-line{
  font-family: Montserrat;
}

