
<footer class="color-background" fxLayout="column">
  <div class="default-side-margin main-block" fxLayout="row" fxLayoutAlign="space-between stretch">
    <span class="info"><span class="material-icons real-estate" >home_work</span>Real estate</span>
    <div class="nav-block block" fxLayout="column" fxLayoutAlign="space-between stretch">
      <a class="color-black" routerLink="/projects">some link</a>
      <a class="color-black" routerLink="/donations">some link</a>
      <a class="color-black" routerLink="/news">some link</a>
    </div>
    <div class="contacts-block block" div fxLayout="column" fxLayoutAlign="space-between stretch">
      <span class="color-black">some text</span>
      <span fxLayout="row" class="color-primary">
<mat-icon class="phone-icon">phone</mat-icon>
                                    +38 (068) 33 623 77
</span>
      <span fxLayout="row" class="color-primary">
<mat-icon class="phone-icon">phone</mat-icon>
                                    +38 (066) 47 654 64
      </span>
    </div>
  </div>
  <div class="bottom-line" fxLayout="row" fxLayoutAlign="center center">
    <span>Copyright © 2020 Real estate. All rights reserved.</span>
  </div>
</footer>
