<mat-card>
  <mat-card-title>
          <a [routerLink]="['/users', user.id]">
            <img  *ngIf="user.imagePath != null"
                 class = "photo"
                 style="width: 200px"
                 src="{{user.imagePath}}"
                 alt=""
            />
            <img *ngIf="user.imagePath == null"
                 class = "photo"
                 style="width: 200px"
                 src="assets/img/defaultuser.jpg"
                 alt=""
            />
          </a>
  </mat-card-title>
  <mat-card-title>
            <mat-icon class = "icon">perm_identity</mat-icon>
            <span> <a
                      [routerLink]="['/users', user.id]">
                 {{ user.firstName }} {{ user.lastName }}</a>
               </span>
  </mat-card-title>
          <mat-card-content>
          <div>
            <p class="rating">{{user.agentProfile.rating}}<span class="material-icons">star_border</span></p>
            <p class = "info"*ngIf="user.agentProfile.city != null">
              <mat-icon class = "icon purple">room</mat-icon>
              {{ user.agentProfile.city.substring(0, 400) }}
            </p>
            <p class = "info">
            <span class="material-icons purple">attach_money</span>{{user.agentProfile.defaultRate}}
            </p>
          </div>
          <button class = "button">More details</button>
  </mat-card-content>
</mat-card>
