@import "src/app/app.component.scss";
/deep/ .mat-radio-outer-circle {
  .mat-radio-checked & {
    border-color: $primary-color-aqua !important;
  }
}

/deep/ .mat-radio-inner-circle {
  background-color: $primary-color-aqua !important;
}
.radio{
  font-family: Montserrat !important;
}

/deep/ .mat-radio-outer-circle {
}
.main{
  width: inherit !important;
  height: inherit !important;
}

