@import "../../../app.component";
.main{
  justify-content: center;
  align-content: center;
  display: flex;
  background:url("/assets/img/bacg.png") $primary-color-background-dark;
  background-position:center;
  background-repeat:no-repeat;
}
