@import "src/app/app.component.scss";
.main{
  background: $primary-color-background-dark;
  justify-content: center;
  align-content: center;
  display: flex;
}
app-propert-card{
  justify-content: center;
  align-content: center;
  display: flex;
}
:host ::ng-deep.mat-paginator .mat-paginator-container{
  background:linear-gradient(45deg,$primary-color-blue-purple , $primary-color-purple);
  color: white;
  font-family: Montserrat;
}

