<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayout.lt-sm="column" >
    <mat-card fxFlex="50" (click)="registerAsAgent()">
      <mat-card-content>
        <p class="title">Register as an agent</p>
        <p>For those looking for customer</p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="50">
      <mat-card-content (click)="registerAUser()">
        <p class="title">Register as a real estate owner</p>
        <p>For those looking for agent</p>
      </mat-card-content>
    </mat-card>
</div>
