@import "../../../../app.component";
.main{
 @extend %flexAlights;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  font-family: $font-stack;
}
button{
  background: $primary-color-aqua;
  margin: 10px;
  width: 60px;
  height: 35px;
  border: white;
  border-radius: 30px;
  font-family: $font-stack;
}

