mat-card{
  background-color: #2F3B52FF;
}
mat-card:hover{
  background:linear-gradient(#8F47EEFF,#31D9E4FF);
}
mat-card:hover .title{
color: black;
}

mat-card-content{
  margin: 12px;
  padding: 100px;
  font-family: Montserrat;
  color: white;
  font-size: 15px;
}
.title
{
  color: #31D9E4FF;
  font-family: Montserrat;
  font-size: 20px;
}

:host {
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color:#2F3B52FF;
}



