@import "src/app/app.component.scss";
mat-card{
  background-color: $primary-color-background;
}
mat-card:hover{
  background:linear-gradient($primary-color-purple,$primary-color-aqua);
}
mat-card:hover .title{
color: black;
}

mat-card-content{
  margin: 12px;
  padding: 100px;
  font-family: Montserrat;
  color: white;
  font-size: 15px;
}
.title
{
  color:$primary-color-aqua;
  font-family: Montserrat;
  font-size: 20px;
}

:host {
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color:$primary-color-background;
}




