$primary-color-aqua: #31D9E4FF;
$primary-color-purple-dark: #8B00F6FF;
$primary-color-purple: #8F47EEFF;
$primary-color-background: #2F3B52FF;
$primary-color-background-dark: #242E42FF;
$primary-color-blue-purple: #7275EBFF;
$primary-color-blue: #98EAF1FF;
$font-stack:Montserrat;
%alights {
  justify-content: center;
  align-content: center;
  font-family:  $font-stack;
}
%flexAlights {
  justify-content: center;
  align-content: center;
  display: flex;
}
