<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="registrationForm">
    <mat-card-title class = "info">
      <span class="material-icons real-estate">home_work</span>Real estate
    </mat-card-title>
    <mat-card-subtitle><span>Want to sign up fill out this form!</span></mat-card-subtitle>
    <mat-card>
      <mat-card-content>
      <form [formGroup]="registrationForm" autocomplete="off">
        <p>
          <mat-form-field>
            <span class="material-icons">person</span>
            <input formControlName="FirstName" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name">
            <mat-error *ngIf="registrationForm.get('FirstName').errors?.required">
              required field</mat-error>
            <mat-error
              *ngIf="registrationForm.get('FirstName').errors?.minlength || registrationForm.get('FirstName').errors?.maxlength">
              incorrect data</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <span class="material-icons">person</span>
            <input formControlName="LastName" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name">
            <mat-error *ngIf="registrationForm.get('LastName').errors?.required">
              required field</mat-error>
            <mat-error
              *ngIf="registrationForm.get('LastName').errors?.minlength || registrationForm.get('LastName').errors?.maxlength">
              incorrect data</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <span class="material-icons">call</span>
            <input formControlName="PhoneNumber" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone number">
            <mat-error *ngIf="registrationForm.get('PhoneNumber').errors?.required">
              required field</mat-error>
            <mat-error
              *ngIf="registrationForm.get('PhoneNumber').errors?.minlength || registrationForm.get('PhoneNumber').errors?.maxlength">
              incorrect data</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <span class="material-icons">mail_outline</span>
            <input formControlName="Email" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail Address" >
            <mat-error *ngIf="registrationForm.get('Email').errors?.required">
              required field</mat-error>
            <mat-error
              *ngIf="registrationForm.get('Email').errors?.minlength || registrationForm.get('Email').errors?.maxlength">
              incorrect data</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <span class="material-icons">lock</span>
            <input formControlName="Password"  matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password"  matInput [type]="hide ? 'password' : 'text'">

            <mat-error *ngIf="registrationForm.get('Password').errors?.required">
              required field </mat-error>
            <mat-error
              *ngIf="registrationForm.get('Password').errors?.minlength || registrationForm.get('Password').errors?.maxlength">
              incorrect data</mat-error>

            <button class ="hide" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                    [attr.aria-pressed]="'hide'">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <span class="material-icons">lock</span>
            <input type="password" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Re-type password" formControlName="ConfirmPassword" matInput [type]="hide ? 'password' : 'text'">
            <mat-error *ngIf="registrationForm.get('ConfirmPassword').errors?.required">
              requried field </mat-error>
            <mat-error
              *ngIf="registrationForm.get('ConfirmPassword').errors?.minlength || registrationForm.get('ConfirmPassword').errors?.maxlength">
              incorrect data</mat-error>

            <button mat-icon-button matSuffix class = "hide" (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                    [attr.aria-pressed]="'hide'">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
        <div>
          <button  (click)="onFirstSubmit()" mat-button matStepperNext class = "next-button first">Next</button>
        </div>
      </form>
      </mat-card-content>
      <mat-card-footer>
        <p>Already have an account? <a href="/login"> Log in</a></p>
      </mat-card-footer>
    </mat-card>
  </mat-step>
  <mat-step  [stepControl]="AgentProfile">
<mat-card>
  <mat-card-content>
        <form [formGroup]="AgentProfile" autocomplete="off">
          <p>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" matInput [max]="maxDate" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Birthday date (mm/dd/yy)" formControlName="BirthDate">
            <mat-error *ngIf="AgentProfile.get('BirthDate').errors?.required">
              required field</mat-error>
            <mat-datepicker-toggle class="calendar" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker  #picker></mat-datepicker>
          </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <span class="material-icons">location_on</span>
              <input formControlName="City" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;City">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <span class="material-icons">description</span>
              <input formControlName="Description" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A few words about you for customers">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <span class="material-icons">rate_review</span>
              <input formControlName="DefaultRate" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Default rate">
              <mat-error *ngIf="AgentProfile.get('DefaultRate').errors?.pattern">
                 should be float number</mat-error>
              <mat-error *ngIf="AgentProfile.get('DefaultRate').errors?.required">
                required field</mat-error>
            </mat-form-field>
          </p>
          <div>
            <button mat-button matStepperPrevious class = "back-button">Back</button>
            <button mat-button matStepperNext class = "next-button" (click)="onSecondSubmit()">Next</button>
          </div>
        </form>
  </mat-card-content>
  </mat-card>
  </mat-step>
  <mat-step>
    <mat-card>
      <mat-card-content>
    <form [formGroup]="registrationForm" autocomplete="off">
      <mat-form-field>
        <ngx-mat-file-input formControlName="Image" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add photo">
        </ngx-mat-file-input>
        <span matSuffix class="material-icons">add_a_photo</span>
      </mat-form-field>
    <div>
      <button mat-button matStepperPrevious class = "back-button">Back</button>
      <button mat-button (click)="stepper.reset()" class = "next-button">Reset</button>
    </div>

        <div class="button">
          <button mat-raised-button  class="sign-up-button" type="submit"
                  (click)="onSubmit()">Sign up</button>
        </div>
      </form>
      </mat-card-content>
    </mat-card>
  </mat-step>

</mat-horizontal-stepper>


