@import "src/app/app.component.scss";

.main{
  padding-top: 70px;
  padding-bottom: 70px;
  background: $primary-color-background-dark;
  justify-content: center;
  align-content: center;
  font-family: Montserrat;
  color: white;
  display: flex;
  font-size: 20px;
}
.material-icons{
  color: $primary-color-aqua;
  font-size: 20px;
}
.status{
  justify-content: center;
  align-content: center;
  display: flex;
  color: $primary-color-blue-purple;
  font-size: 20px;
  font-family: Montserrat;
}
.card{
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
  background: $primary-color-background-dark;
  color: white;
  font-family: Montserrat;
  margin-bottom: 40px;
}
.char{
  font-size: 20px;
  font-family: Montserrat;
  color: $primary-color-blue-purple;
}
p{
  padding: 30px;
  font-size: 20px;
}
.offers{
  padding-bottom: 120px;
  padding-top: 120px;
  background: linear-gradient(-90deg, $primary-color-blue-purple, #7C67EDFF);
}
app-offer-card{
  justify-content: center;
  align-content: center;
  display: flex;
}
.cards{
  align-content: center;
  justify-content: center;
  display: flex;
}
.offer{
  justify-content: center;
  align-content: center;
  display: flex;
  color: $primary-color-background-dark;
  font-size: 40px;
  font-family: Montserrat;
}
.questions{
  padding-top: 120px;
  background: $primary-color-background-dark;
  padding-bottom: 120px;
}
.question{
  align-content: center;
  justify-content: center;
  display: flex;
  color: $primary-color-blue-purple;
  font-size: 30px;
  font-family: Montserrat;
}
.edit{
  width: 300px;
 height: 50px;
  margin: 60px;
  border-radius: 10px;
  border: unset;
  color: white;
  font-size: 20px;
  font-family: Montserrat;
  background: linear-gradient(-90deg, $primary-color-blue-purple, #7C67EDFF);
}
.edit:hover{
  background:linear-gradient(-45deg, $primary-color-blue-purple, $primary-color-aqua);
  box-shadow: 0px 0px 40px rgba(114,117,235, 0.5);
}
.empty{
  height: 45px;
  background: $primary-color-background-dark;
}







