<div class="main"><app-toolbar></app-toolbar></div>
<div class="main" fxLayout="row wrap" fxLayout.lt-md="column" fxLayout.lt-sm="column">
   <app-propert-card fxFlex="0 1 calc(25% - 32px)"
     fxFlex.lt-md="0 1 calc(50% - 32px)"
     fxFlex.lt-sm="100%" *ngFor="let property of PropertyListModel"
   [property]="property"> </app-propert-card>
</div>
<mat-paginator [length]="100"
               [pageSize]="this.pageSize"
               [pageIndex]="this.pageNumber"
               [pageSizeOptions]="[16, 32, 64, 96]"
               (page)="onPageFired($event)">
</mat-paginator>
<div><app-footer></app-footer></div>
