@import "src/app/app.component.scss";
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient($primary-color-aqua, $primary-color-purple-dark);
  background-size: cover;
}
input{
  @extend %alights;
  padding-left: 20px;
  width: 400px;
}
mat-card{
  margin: 50px;
  width: 700px;
  padding: 100px 50px;
  align-items: center;
  justify-content: center;
  background-color: #2F3B52FF;

}
.material-icons{
  color: $primary-color-aqua;
  size: 3px;
}
::ng-deep .mat-form-field{
  align-items: center;
  color:white !important;
  font-family: $font-stack;
  width: 550px;
}

@media screen and (max-width: 750px) {
  .mat-card {
    box-shadow: 0px 0px 0px 0px;
  }
  .sign-up-button{
    width: 350px !important;
    height: 35px !important;
  }
  :host {
    background: $primary-color-background;
    height: 1100px;
  }
  ::ng-deep .mat-form-field{
    width: 350px;
  }
  .info, mat-card-subtitle, mat-card-footer{
    padding-left: unset;
    justify-content: center !important;
  }
  mat-card-footer{
    background: $primary-color-background;
  }
}


mat-card-title{
  padding-bottom: 30px;
}

.mat-form-field {
  align-items: start;
  justify-content: start;
}

::ng-deep .mat-form-field-underline{
  background-color: $primary-color-aqua !important;
}
::ng-deep .mat-form-field-label{
  color: $primary-color-aqua !important;
  font-family: $font-stack;
}
::ng-deep .mat-form-field-underline .mat-form-field-ripple{
  background-color: $primary-color-aqua;
}

.hide{
  background-color: $primary-color-background;
  border: none;
  font-size: 15px;
}

mat-card-title,
mat-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  align-items: center;
  width: 550px;
  justify-content: normal;
  padding-left: 75px;
  font-family: $font-stack;
  align-content: center;
  font-size: 45px;
  display: flex;
  color: $primary-color-aqua;
}
mat-card-subtitle{
  width: 550px;
  font-family: $font-stack;
  color: white;
  display: flex;
  font-size: 13px;
  padding-bottom: 15px;
  padding-left: 75px;
}
.sign-up-button{
  width: 550px;
  height: 40px;
  background:linear-gradient(45deg, $primary-color-purple, $primary-color-purple-dark);
  font-family: $font-stack;
  border: none;
  border-radius: 5px;
  color: white;
  align-content: center;
  margin-top: 15px;
  &:hover{
    background:linear-gradient(45deg, $primary-color-aqua, $primary-color-purple);
    box-shadow: 0px 0px 40px rgba(114,117,235, 0.5);
  }
}
a{
  color: $primary-color-aqua;
}
mat-card-footer
{
  font-family: $font-stack;
  width: 550px;
  padding-top: 5px;
  padding-left: 90px;
  display: flex;
  color: white;
}
.real-estate{
  color: $primary-color-blue-purple;
}




