<div class = "page">
  <mat-card>
      <mat-card-title>
        <form [formGroup]="userProfile" autocomplete="off">
        <img  *ngIf="!agent.imagePath || imageSrc"
              class = "photo"
              style="width: 200px"
              [src]="imageSrc || './assets/img/defaultuser.jpg'"
              alt=""
              (click)="avatarChange()"
        />
        <img *ngIf="agent.imagePath && !imageSrc"
             class = "photo"
             style="width: 200px"
             src="{{getPhoto()}}"
             alt=""
             (click)="avatarChange()"
        />
        <input id="input-file-id" type="file" autofocus (change)="onFileChange($event)" hidden>
        </form>
      </mat-card-title>
    <mat-card-content>
      <form [formGroup]="userProfile" autocomplete="off">
        <p>
          <mat-form-field>
            <span class="material-icons">person</span>
            <input formControlName="firstName" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name">
            <app-mat-error [control]="userProfile.get('firstName')"></app-mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <span class="material-icons">person</span>
            <label>
              <input formControlName="lastName" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name">
              <app-mat-error [control]="userProfile.get('lastName')"></app-mat-error>
            </label>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <span class="material-icons">call</span>
            <input formControlName="phoneNumber" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone number">
            <app-mat-error [control]="userProfile.get('phoneNumber')" [patternMessage]="'incorrect data'"></app-mat-error>
          </mat-form-field>
        </p>
      </form>
    </mat-card-content>
    <mat-card-content>
      <form [formGroup]="agentProfile" autocomplete="off">
        <p>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" matInput [max]="maxDate" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Birthday date (mm/dd/yy)" formControlName="birthDate">
            <mat-datepicker-toggle class="calendar" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker  #picker></mat-datepicker>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <span class="material-icons">location_on</span>
            <input formControlName="city" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;City">
            <app-mat-error [control]="agentProfile.get('city')"></app-mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <span class="material-icons">description</span>
            <input formControlName="description" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A few words about you for customers">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <span class="material-icons">rate_review</span>
            <input formControlName="defaultRate" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Default rate">
            <app-mat-error [control]="agentProfile.get('defaultRate')" [patternMessage]="'should be float number'"></app-mat-error>
          </mat-form-field>
        </p>
        <div class="button">
          <button mat-raised-button  class="sign-up-button" type="submit "
                  (click)="editProfile()">Confirm</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
