@import "../../../../app.component";
mat-card{
  padding-top: 60px;
  background: linear-gradient(-90deg, $primary-color-blue-purple, #7C67EDFF);
  align-content: center;
  flex-flow: unset!important;
  margin-top: 50px;
&:hover{
  box-shadow: 3px 0px 40px rgba(36,46,66, 1);
}
}
.photo{
  width: 253px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}
::ng-deep .mat-expansion-panel{
  width: 100%;
  background: $primary-color-background;
  color: white;
}

mat-card-content{
  padding-left: 40px;
}
p{
  font-family:  $font-stack;
  padding: 10px;
  font-size: 18px;
  color: $primary-color-background-dark;
}
.name{
  font-size: 35px;
}
.comment{
  font-family:'Thasadith', sans-serif;
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 800px)
{
  .photo{
    width: 200px !important;
    justify-content: center !important;
    align-content: center !important;
    display: flex !important;
  }
  .comment{
    font-size: 14px;
  }
  .name{
    font-size: 20px;
    justify-content: center !important;
    align-content: center !important;
    display: flex !important;
  }
  mat-card{
    flex-flow: column!important;
  }
  mat-card-content {
    padding: unset;
  }
  mat-card-title{
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
  }
}




