:host {
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(#8F47EEFF,#31D9E4FF);
  background-size: cover;
}
mat-card{
  height: 400px;
  width: 300px;
  padding: 100px 50px;
  background-color: #2F3B52FF;
}
.material-icons{
  color: #31D9E4FF;
  size: 3px;
}
::ng-deep .mat-form-field{
  color:white !important;
  font-family: Montserrat;
}

mat-card-title{
  padding-bottom: 70px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.info {
  font-family: Montserrat;
  font-size: 45px;
  display: flex;
  justify-content: left;
  color: #31D9E4FF;
}
::ng-deep .mat-form-field-underline{

  background-color:#31D9E4FF !important;
}
::ng-deep .mat-form-field-label{
  color:#31D9E4FF !important;
  font-family: Montserrat;
}
::ng-deep .mat-form-field-underline .mat-form-field-ripple{

  background-color: #31D9E4FF;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-card-title{
  padding-bottom: 16px;
}
mat-card-subtitle{
  font-family: Montserrat;
  color: white;
  font-size: 13px;
  padding-bottom: 35px;
}
button {
  width: 300px;
  height: 35px;
  background:linear-gradient(45deg, #8F47EEFF,#8B00F6FF);
  font-family: Montserrat;
  border: none;
  border-radius: 5px;
  color: white;
  align-content: center;
}
button:hover{
  background:linear-gradient(45deg, #31D9E4FF,#8F47EEFF);
}


mat-card-footer
{
  font-family: Montserrat;
  padding-top: 30px;
  padding-left: 20px;
  display: flex;
  color: white;
}
a{
  color: #31D9E4FF;
}
.real-estate{
  color: #7275EBFF;
}


